*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
    
}
body{
    margin: 0;
}
h1{
    text-align: center;
}



a{
    color: rgb(220, 20, 177);
    font-size: 1.0rem;
    text-decoration: none;
    text-align:right;
}
.main{
    background-color: #0c6168;
    padding: 1% 7% ;
    text-align: center;
}
section{
    display: flex;
    padding: 0%;
}
p{
    text-align: center;
}
div
{
    display: flex;
}